<!DOCTYPE html>
<html lang="pt-PT" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scaleable=no"/>
        <meta name="author" content="Eugenio Sergio Tomas">
        <meta name="description" content="Todo material disponibilizado de forma totalmente facilitada">
        <meta name="keywords" content="matxaunas, testes, mini-testes, aulas, avaliacao, documentos">
        <link rel="stylesheet" href="/css/reset.css" type="text/css">
        <link rel="stylesheet" href="/css/bootstrap.css" type="text/css">
        <link rel="stylesheet" href="/css/style.css" type="text/css">
        <title>Menu_Principal</title>
    </head>
    <body>





        <footer class="text-info mt-5 d-flex" th:fragment="footer">
            <a href="#" class="navbar-brand" id="estiloFooter">
                <img src="/img/unilurio.jpg" class="img-fluid d-block"> 
            </a>
            <div>
                <h6>Designed By Eugenio Sergio Tomas</h6>
            </div>
        </footer>



        <script type="text/javascript" src="/js/jquery-3.4.1.min.js"></script>
        <script type="text/javascript" src="/js/bootstrap.js"></script>
        <script type="text/javascript" src="/js/style.js"></script>
    </body>
</html>